## Program to print Introduction

In [13]:
Introduction = ["Hi there I'm shalinee kumari.",
"I'm from bhilai chattishgarh.",
"I'm married and currently i am living in chandigarh",
"i have completed my gradution from SSCET Bhilai with CSE branch in 2016",
"and then i thought of giving 2 years to prepare for government examination",
"but extended for more 2 years as i was too close to clearing that examination",
"I cleared Bank PO mains 2 times and missed the opportunity just by 1.5 marks.",

"later i tried to switch my career in 2021 and joined a MSME firm i.e. jai mata di plastics",
"as an procurement analyst based out of my home town and soon after lockdown",
"I thought of upgrading my skills and choose the data analyst career as my preffered option",
"as it was the area of my interest as well as i m quite good with maths and analytics.",
"Apart from professional life i would like to engage my self in-",
"Playing badminton",
"Playing chess" ,
"Watching series" ,
"Writing poetries" ,
"Expolre different places."]

In [14]:
for i in range(len(Introduction)):
    print(Introduction[i])

Hi there I'm shalinee kumari.
I'm from bhilai chattishgarh.
I'm married and currently i am living in chandigarh
i have completed my gradution from SSCET Bhilai with CSE branch in 2016
and then i thought of giving 2 years to prepare for government examination
but extended for more 2 years as i was too close to clearing that examination
I cleared Bank PO mains 2 times and missed the opportunity just by 1.5 marks.
later i tried to switch my career in 2021 and joined a MSME firm i.e. jai mata di plastics
as an procurement analyst based out of my home town and soon after lockdown
I thought of upgrading my skills and choose the data analyst career as my preffered option
as it was the area of my interest as well as i m quite good with maths and analytics.
Apart from professional life i would like to engage my self in-
Playing badminton
Playing chess
Watching series
Writing poetries
Expolre different places.

## Addition

In [58]:
x=int(input('enter number'))
y=int(input('enter number'))
z=int(input('enter number'))
add=x+y+z
print('addition of threee number ', add)

enter number10
enter number20
enter number30
addition of threee number  60

## Substraction

In [59]:
x=int(input('enter number '))
y=int(input('enter number '))
sub=x-y
print('substraction of two number ', sub)

enter number 40
enter number 20
substraction of two number  20

## Multiplication

In [60]:
x=int(input('enter number '))
y=int(input('enter number '))
MUL=x*y
print('Multiplication of number ',MUL)

enter number 2
enter number 80
Multiplication of number  160

## Division

In [61]:
x=int(input('enter number '))
y=int(input('enter number '))
div1=x/y
print('Division of number ',div1)

enter number 50
enter number 4
Division of number  12.5

In [62]:
x=int(input('enter number '))
y=int(input('enter number '))
div=x//y
print('Division of number ',div)

enter number 50
enter number 6
Division of number  8

## Modulus

In [63]:
x=int(input('enter number '))
y=int(input('enter number '))
rem=x%y
print('reminder of number ',rem)

enter number 50
enter number 7
reminder of number  1

## Exponent

In [64]:
x=int(input('enter number '))
y=int(input('enter exponent value '))
Exp=x**y
print('Exponent of number ',Exp)

enter number 4
enter exponent value 4
Exponent of number  256

## Average

In [65]:
a=int(input("enter 1st number "))
b=int(input("enter 2nd number "))
c=int(input("enter 3rd number "))
d=int(input("enter 4th number "))
e=int(input("enter 5th number "))
avg=(a+b+c+d+e)/5
print("average of 5 number is ",avg)

enter 1st number 5
enter 2nd number 10
enter 3rd number 7
enter 4th number 3
enter 5th number 6
average of 5 number is  6.2

## Simple Intrest

In [66]:
p=int(input('enter principal '))
t=int(input('enter time '))
r=int(input('enter rate '))
SI=(p*t*r)/100
print('Simple Interest is',SI)

enter principal 10
enter time 5
enter rate 10
Simple Interest is 5.0

## Swap

In [67]:
a=int(input("enter 1st number "))
b=int(input("enter 2nd number "))
c=a
a=b
b=c
print('swapping ', a,b)

enter 1st number 10
enter 2nd number 5
swapping  5 10

## swapping without 3rd variable

In [68]:
x=int(input("enter 1st number "))
y=int(input("enter 2nd number "))
x=x+y
y=x-y
x=x-y
print('swapping ', x,y)

enter 1st number 5
enter 2nd number 10
swapping  10 5

## Discriminant of Quadratic Equation

In [72]:
a=int(input("enter 1st number "))
b=int(input("enter 2nd number "))
c=int(input("enter 2nd number "))

Discriminant= (b**2)-(4*a*c)
print(Discriminant)

enter 1st number 1
enter 2nd number -3
enter 2nd number 4
-7

## Area of Rectangle

In [1]:
x=int(input("enter 1st number "))
y=int(input("enter 2nd number "))
z=x*y
print("Area of Rectangle ",z)

enter 1st number 10
enter 2nd number 2
Area of Rectangle  20

## Area of Square

In [2]:
x=int(input("enter number "))
z=x*x
print("Area of Square ",z)

enter number 5
Area of Square  25

## Area of Triangle

In [3]:
x=int(input("Enter Base "))
y=int(input("Enter Height "))
z=1/2*x*y
print("Area of Triangle ",z)

enter Base 5
enter Height 6
Area of Triangle  15.0

## Area of Circle

In [4]:
X=int(input("Enter Radius "))
A=22/7*X*X
print("Area of Circle ",A)

Enter Radius 5
Area of Circle  78.57142857142857

## Power of number

In [6]:
X=int(input("Enter number "))
P=X**2
print("Power of number ",P)

Enter number 6
Power of number  36

In [9]:
X=int(input("Enter number "))
P=X**4
print("Power of number ",P)

Enter number 3
Power of number  81

## Python version

In [11]:
from platform import python_version
print(python_version())

3.9.13

## Calculate Net Salary

In [12]:
basic=int(input("enter basic_salary "))
da= basic*.05
hr= basic*.07
pf= basic*.03
Net_salary= basic+da+hr+pf
print("Net_salary is ",Net_salary)

enter basic_salary 50000
Net_salary is  57500.0